<div class="todo" *ngFor="let todo of (todo$ | async)">
    {{todo.id}} : {{todo.title}}
   
</div>
<button (click)="onClick()">Click to Load</button>
<button (click)="onAdd()">Add</button>
<button (click)="onAddTime()">AddTime</button>

<div class="time">{{time$ | async}}</div>
<div class="time" *ngIf="showTime">{{time$ | async}}</div>

<div class="p">Subjects</div>
<div class="time">{{timeS$ | async}}</div>

<ng-container *ngIf="showIf; then showIfTemplate; else noShowIfTemplate">
    </ng-container>

<ng-template #showIfTemplate>
    <h4>This is the IF template</h4>
    <p>{{showIf}}</p>
</ng-template>

<ng-template #noShowIfTemplate>
    <h4>This is the ELSE template</h4>
</ng-template>

