<button (click)="increment()">Increment</button>
<div class="">{{count$ | async }}</div>
<button (click)="decrement()">Decrement</button>
<button (click)="reset()">Reset</button>



<div *ngFor="let book of books$ | async; let i=index">
    <span>{{i+1}}.</span> {{book.volumeInfo.title}}
</div>
<button (click)="onAddBook()">Add Book</button>
<button (click)="onRemoveBook()">Remove Book</button>
<button (click)="onUpdateBook()">Update Book</button>
<button (click)="onFilter('AAAA')">Filter</button>
<button (click)="onFilterReset()">UnFilter</button>
<button (click)="onLogout()">Logout</button>

<!-- <div class="">{{books$ | async}}</div> -->