<div class="login">
    <h4 class="login__header">Login</h4>
    <div class="login__container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password">
        </div>
        <div class="form-group">
            <button  class="btn btn-primary">
                Login
            </button>
            <a routerLink="../register" class="btn btn-link">Register</a>
        </div></form>
    </div>
</div>